[Data Source](https://www.kaggle.com/datasets/yousefsaeedian/edhec-investment-management-datasets)

# Understanding Hedge Funds Investments

In [52]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yousefsaeedian/edhec-investment-management-datasets")

#print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)

In [54]:
!ls -lh ~/.cache/kagglehub/datasets/yousefsaeedian/edhec-investment-management-datasets/versions/17

total 11336
-rw-r--r--  1 ananiassoutovi  staff    34K May 12 17:25 Assets_7.csv
-rw-r--r--  1 ananiassoutovi  staff   772K May 12 17:25 BRK-A.csv
-rw-r--r--  1 ananiassoutovi  staff   225K May 12 17:25 brka_d_ret.csv
-rw-r--r--  1 ananiassoutovi  staff    38K May 12 17:25 Data_Oct2018_v2.csv
-rw-r--r--  1 ananiassoutovi  staff    72K May 12 17:25 edhec_risk_kit.py
-rw-r--r--  1 ananiassoutovi  staff    21K May 12 17:25 edhec-hedgefundindices.csv
-rw-r--r--  1 ananiassoutovi  staff   1.0M May 12 17:25 F-F_Research_Data_Factors_daily.CSV
-rw-r--r--  1 ananiassoutovi  staff    47K May 12 17:25 F-F_Research_Data_Factors_m.csv
-rw-r--r--  1 ananiassoutovi  staff    52K May 12 17:25 F-F_Research_Data_Factors.CSV
-rw-r--r--  1 ananiassoutovi  staff   269K May 12 17:25 ind30_m_ew_rets.csv
-rw-r--r--  1 ananiassoutovi  staff   268K May 12 17:25 ind30_m_nfirms.csv
-rw-r--r--  1 ananiassoutovi  staff   365K May 12 17:25 ind30_m_size.csv
-rw-r--r--  1 ananiassoutovi  staff   268K May 12 17:25 ind30_m_vw_rets.csv
-rw-r--r--  1 ananiassoutovi  staff   433K May 12 17:25 ind49_m_ew_rets.csv
-rw-r--r--  1 ananiassoutovi  staff   433K May 12 17:25 ind49_m_nfirms.csv
-rw-r--r--  1 ananiassoutovi  staff   592K May 12 17:25 ind49_m_size.csv
-rw-r--r--  1 ananiassoutovi  staff   433K May 12 17:25 ind49_m_vw_rets.csv
-rw-r--r--  1 ananiassoutovi  staff    22K May 12 17:25 ml_asset_kit.py
-rw-r--r--  1 ananiassoutovi  staff   193K May 12 17:25 Portfolios_Formed_on_ME_monthly_EW.csv
-rw-r--r--  1 ananiassoutovi  staff   198B May 12 17:25 sample_prices.csv
-rw-r--r--  1 ananiassoutovi  staff   9.7K May 12 17:25 SP500.csv

In [56]:
import pandas as pd

In [58]:
path = f'{path}/ind49_m_nfirms.csv'

df = pd.read_csv(path)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 50 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1110 non-null   int64
 1   Agric       1110 non-null   int64
 2   Food        1110 non-null   int64
 3   Soda        1110 non-null   int64
 4   Beer        1110 non-null   int64
 5   Smoke       1110 non-null   int64
 6   Toys        1110 non-null   int64
 7   Fun         1110 non-null   int64
 8   Books       1110 non-null   int64
 9   Hshld       1110 non-null   int64
 10  Clths       1110 non-null   int64
 11  Hlth        1110 non-null   int64
 12  MedEq       1110 non-null   int64
 13  Drugs       1110 non-null   int64
 14  Chems       1110 non-null   int64
 15  Rubbr       1110 non-null   int64
 16  Txtls       1110 non-null   int64
 17  BldMt       1110 non-null   int64
 18  Cnstr       1110 non-null   int64
 19  Steel       1110 non-null   int64
 20  FabPr       1110 non-null   int64
 21  Mach        1110 non-null   int64
 22  ElcEq       1110 non-null   int64
 23  Autos       1110 non-null   int64
 24  Aero        1110 non-null   int64
 25  Ships       1110 non-null   int64
 26  Guns        1110 non-null   int64
 27  Gold        1110 non-null   int64
 28  Mines       1110 non-null   int64
 29  Coal        1110 non-null   int64
 30  Oil         1110 non-null   int64
 31  Util        1110 non-null   int64
 32  Telcm       1110 non-null   int64
 33  PerSv       1110 non-null   int64
 34  BusSv       1110 non-null   int64
 35  Hardw       1110 non-null   int64
 36  Softw       1110 non-null   int64
 37  Chips       1110 non-null   int64
 38  LabEq       1110 non-null   int64
 39  Paper       1110 non-null   int64
 40  Boxes       1110 non-null   int64
 41  Trans       1110 non-null   int64
 42  Whlsl       1110 non-null   int64
 43  Rtail       1110 non-null   int64
 44  Meals       1110 non-null   int64
 45  Banks       1110 non-null   int64
 46  Insur       1110 non-null   int64
 47  RlEst       1110 non-null   int64
 48  Fin         1110 non-null   int64
 49  Other       1110 non-null   int64
dtypes: int64(50)
memory usage: 433.7 KB

,Unnamed: 0,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
0,192607,3,40,0,3,16,1,6,1,8,...,6,72,2,33,6,3,3,2,4,4
1,192608,3,40,0,3,16,1,6,1,8,...,6,72,2,33,6,3,3,2,4,4
2,192609,3,40,0,3,16,1,6,1,8,...,6,72,2,33,6,3,3,2,4,4
3,192610,3,40,0,3,16,1,6,1,8,...,6,72,2,33,6,3,3,2,4,4
4,192611,3,40,0,3,16,1,6,1,8,...,6,72,2,33,6,3,3,2,4,4